.board {
    display: grid;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 720px;
    width: 720px;
    border: 1px solid black;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.board-square {
    border: 1px solid black;
}
