.board {
    padding: 40px;
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.square {
    border: 1px solid black;
}